/*Navegacion*/
.nav-compras {
    padding: 2rem 0;
}

.ul-compras {
    display: flex;
    justify-content: space-around;
    font-size: 4rem;
    text-align: center;
}

/*Listado*/
#section-compras {
    padding: 2rem 0;
}

#section-compras > .container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    min-width: 1300px !important;
}

.compra-list {
    gap: 2rem;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 2rem;
}

.compra-item {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 1.8rem;
}

.compra-titulo{
    font-weight: bold;
}

.compra-image {
    width: 18rem;
    padding: 2rem;
}

.content-compra-accion {
    display: flex;
    gap: 2rem;
    font-size: 2rem;
}


